body{
  box-sizing: border-box;
  margin: 0;
  width:100%;
  overflow-x:hidden
 

  
}

.page{
  display: flex;
  flex-direction: row;
  width:100vw;
  overflow-x:hidden

}

.sidebar{
 top: 0;
 position: absolute;
 width: 250px;
 height: 100vh;
 margin: 0;
 text-transform: capitaliZe;
 background-color: aqua;

}

.see{
  display: fixed;
  transition: ease all 0.2s;

}

.none{
  transition: ease all 0.2s;
  transform: translateX(-250px);
}

.sidebar #btn{
  position: absolute;
  left: 200px;
  top: 0;
}

#button{
  margin-right: 100px;
}
img{
  height: 50px;
  width: 50px;

}

.container{
  left: 250px;
  position: absolute;
  background-color: red;
  height: 100vh;
  width: ;

}



.home text{
  margin-left: 20px;
}


.notActive{
  transform: translateX(-260px);
  margin: 0;
  
}

